# Ignore binary
CBEmu

# Ignore object files
*.o
/tests/exe/*
test.exe

/visual studio/ipch
/visual studio/Release
/visual studio/Debug
/visual studio/CodeAnalyst

CMakeLists.txt.user*
build/

# Ignore Qt stuff, but not the cbEnchanted.pro file which is needed for the project
qtcreator/*
!qtcreator/cbEnchanted.pro

tools/cbcompiler/IDE/CompileLog.txt
tools/cbcompiler/IDE/Compiler
tools/cbcompiler/IDE/Editor.out

