# Ignore binary
CBEmu
release

# Ignore object files
*.o
tests/exe
/tests/exe/*
test.exe

/visual studio/ipch
/visual studio/Release
/visual studio/Debug
/visual studio/CodeAnalyst

CMakeLists.txt.user*
build/

# Ignore Qt stuff, but not the cbEnchanted.pro file which is needed for the project
qtcreator/*
!qtcreator/cbEnchanted.pro

# Same for cbkey mapping, plus some extra
tools/cbkeys_mapping/qtcreator/*
!tools/cbkeys_mapping/qtcreator/cbkeys_mapping.pro
tools/cbkeys_mapping/out.txt
tools/cbkeys_mapping/keys_allegro.cb

tools/cbcompiler/IDE/CompileLog.txt
tools/cbcompiler/IDE/Compiler
tools/cbcompiler/IDE/Editor.out

# Don't put generated documentation to the repository
docs

# Temporary files
*~
*.kate-swp
*.swp

# Dolphin (KDE File Manager) created files
.directory

/release.bat
